{% extends 'layout.html' %}
{% block body %}
   <div class = "div_body">
      <div class = "caja">
            <form class = "from-control" action = "/add_dvd" method = "POST" name "datos" onSubmit="return Verificar(this)">
                <h3>Registo de DvD</h3>
                {% if mensaje %}
                <div class="alert alert-danger" role="alert">
                    {{mensaje}}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="exampleInputName1">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Ingrese su nombre" name="nombre">
                </div>
                <div class="form-group"> 
                    <label for="exampleInputDescription">Descripción</label>
                    <textarea class="form-control" id="exampleInputDescription" name="descripcion" placeholder="Ingrese una descripción" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de Salida</label>
                    <input type="date" class="form-control" id="fechaSalida" name="fecha_salida" placeholder="Seleccione su fecha de nacimiento">
                </div>  
                <div class="form-group">
                    <label for="exampleInputName1">Genero</label>
                    <input type="text" class="form-control" id="exampleInputGenero1" placeholder="Ingrese el genero" name="genero">
                </div>
                <div class="form-group">
                    <label for="exampleInputPrecio1">Precio</label>
                    <input type="number" step="0.01" class="form-control" id="exampleInputPrecio1" placeholder="Ingrese el Precio" name="precio">
                </div>                        
                            
                <button type="submit" class="btn btn-primary">Registrar DvD</button>
            </form>
      </div>
   </div> 
{% endblock %}